* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.2;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  position: relative;
}

button {
  cursor: pointer;
}

@media (min-width: 320px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 60%;
  }
}
